.checked {
  color: orange;
} 
.main-heading{
    text-align: center;
}
.main-container{
    margin: auto;
    width:100%;
    align-items: stretch;
    border: 2px solid black;
    padding: 30px;
    background-color: rgb(214, 207, 193);
}
.top-container{
    
    gap: 20px;
}
.middle{
    margin-top:10px;
    
    text-align: left;
}